# Finantial Times Scraping

### Inicializações

In [6]:
import pandas as pd
from datetime import datetime, timedelta

### Scrapping Exchange Rates from www.exchangerates.org.uk

In [7]:
url = 'http://www.exchangerates.org.uk/USD-EUR-exchange-rate-history.html'
csv = 'exchange_rates.csv'
#csv = 'D:\Personal\Python\Fundos\exchange_rates.csv'

df = pd.read_html(url, skiprows=[0,1,182])[0][[0,1]].rename(columns={0:'Date',1:'USD2EUR'})
df['Date'] = df['Date'].apply(lambda x: pd.to_datetime(x, infer_datetime_format = True).date())
df['USD2EUR'] = df['USD2EUR'].apply(lambda x: float(x[8:15]))
df.set_index('Date',inplace=True)

df_historic_usd2eur = pd.read_csv(csv,sep=';',parse_dates=True)
df_historic_usd2eur['Date'] = df_historic_usd2eur['Date'].apply(lambda x: pd.to_datetime(x, infer_datetime_format = True).date())
df_historic_usd2eur.set_index('Date',inplace=True)

df_historic_usd2eur = pd.concat([df.loc[:max(df_historic_usd2eur.index)][:-1],df_historic_usd2eur])
df_historic_usd2eur.to_csv(csv,sep=';')

### Update Portofolio From Transactions

In [8]:
#transacoes_csv = 'D:\\Personal\\Python\\Fundos\\transacoes.csv'
transacoes_csv = 'transacoes.csv'

encoding='latin_1'
thousands = ','
decimal = '.'
to_date = lambda d: datetime.strptime(d, '%d-%m-%Y')
converters={'Data de subscrição': to_date}

portfolio_csv = 'portofolio.csv'
df_portofolio = pd.read_csv(transacoes_csv ,sep=',',encoding=encoding,thousands=thousands, decimal=decimal, converters=converters)
df_portofolio = df_portofolio[pd.isnull(df_portofolio['Data de resgate'])].groupby(['Code','Nome','Moeda'])['Quantidade'].sum().reset_index()
df_portofolio.to_csv(portfolio_csv,sep=';',index=False)
df_portofolio.sort_values(by='Nome')

            Code                             Nome Moeda  Quantidade
13  LU0524465977          Alken European Opport A   EUR     8.53679
20  LU1883314244           Amundi Europ Value A C   EUR     7.35600
6   LU0171309270         BGF Healthscience E2 EUR   EUR   103.70000
15  LU0823417141      BNP Health Care In\tN Capit   EUR    13.08300
14  LU0815616999    BTG SICAV Latin American Eq A   USD   208.76800
4   LU0108459040       Candriam Biotech C Cap USD   USD     7.83800
19  LU1769942746               DWS CROCI US Divid   USD    18.47000
22  LU2210151697                 FF Abs Ret Gb Eq   USD   592.20000
7   LU0197230542           Fidelity India Focus A   EUR    26.76000
16  LU1046545411    GS N America Energy Infra USD   USD   644.18100
8   LU0213962813           HSBC Turkey Equity Eur   EUR   138.58800
0   IE0002167009        JH Glob Tech and Innov A2   EUR   134.04800
21  LU1897414303             Janus Biotech A2 USD   USD   115.87500
2   IE00BLP5S460           Jupiter Glb Abs Rt EUR   EUR  1474.38300
17  LU1670707956  M&G (Lux) Europ Strategic Val A   USD   965.57600
1   IE00BD3B6K23     MAN Emerg Debt Total R D USD   USD    20.00000
3   LU0094557526     MFS European Research A1 EUR   EUR   152.79100
18  LU1670715975             MG Japan SmCap A Eur   EUR   148.98000
12  LU0384381660               MSI Global Infra A   USD   117.51600
23  PTSQUGHM0007        Property Core Real Estate   EUR  2621.32420
9   LU0248173006             SIC Asia B accum EUR   EUR   104.95000
11  LU0269905138  Schroder Glob Emerg Opp B Accum   USD   490.42000
10  LU0248185513    Schroder US Large Cap B Accum   EUR    12.65000
5   LU0122613903                 T Eastern Europe   EUR    32.19600

### Update with any downloaded data
### Update wiht scrapping Quotes from FT

In [9]:
url = 'https://markets.ft.com/data/funds/tearsheet/historical?s={}:{}'
xls = 'historico_cotacoes.xlsx'
to_date = lambda d: datetime.strptime(d, '%Y-%m-%d')
converters={'date': to_date}

novo_dict_df = dict()

dict_df = {key.strip():value for key,value in pd.read_excel(xls,sheet_name=None).items()}

for symbol, df in dict_df.items():
    if symbol in df_portofolio['Code'].tolist():
        dict_df[symbol]['Date'] = dict_df[symbol]['Date'].apply(lambda x: x.date())
        novo_dict_df[symbol] = dict_df[symbol].set_index('Date',drop=True).sort_index(ascending=False)
    

for symbol, _, currency, _ in df_portofolio.itertuples(index=False):

    # try to get data from a csv dwoloaded from Morningstar
    try:
        path = '.\\cotacoes_morningstar\\{}.csv'.format(symbol)
        df = pd.read_csv(path ,sep=';',encoding=encoding,thousands=thousands, decimal=decimal, converters=converters)[['date','price']]
        df['date'] = df['date'].apply(lambda x: x.date())
        df = df.set_index('date',drop=True).sort_index(ascending=False).rename(columns={'price':'Close'})
        df.index.rename('Date',inplace=True)
        if symbol in dict_df.keys():
            novo_dict_df[symbol] = pd.concat([novo_dict_df[symbol], df.loc[df.index.difference(novo_dict_df[symbol].index)]]).sort_index(ascending=False)
        else:
            novo_dict_df[symbol] = df
    except:
        print("Warning: No "+path)

    # try to data from FT
    try:
        url = 'https://markets.ft.com/data/funds/tearsheet/historical?s={}:{}'.format(symbol,currency)
        df = pd.read_html(url)[0]
        df['Date'] = df['Date'].apply(lambda x: x[:-17]).apply(lambda x: pd.to_datetime(x, infer_datetime_format = True).date())
        df = df.set_index('Date',drop=True)[['Close']]
        novo_dict_df[symbol] = pd.concat([novo_dict_df[symbol], df.loc[df.index.difference(novo_dict_df[symbol].index)]]).sort_index(ascending=False)
    except:
        print("Warning: Invalid "+url)

Warning: Invalid https://markets.ft.com/data/funds/tearsheet/historical?s=LU0171309270:EUR
Warning: Invalid https://markets.ft.com/data/funds/tearsheet/historical?s=PTSQUGHM0007:EUR

In [10]:
with pd.ExcelWriter(xls, engine="openpyxl") as writer:
    for symbol, df in novo_dict_df.items():
        df.to_excel(writer, sheet_name=symbol)